
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContent {
  flex: 1; /* Pushes footer down when content is short */
  padding-top: 70px; /* optional: if you want space below navbar */
}
